# For markdownlint
.git/

# Dependency directories (remove the comment below to include it)
node_modules/
.bin/
.venv/
.aqua/
.uv/

# SARIF files
*.sarif.json

# Python cache files
__pycache__/
*.egg-info/
*.pyc

# Tex generate files.
*.aux
*.toc
*.log
*.dvi
*.pdf
*.out

# budoux-latex style temporary files
_budoux-*.txt
